<mat-card-header>
  <mat-card-title>User</mat-card-title>
</mat-card-header>
<mat-card-content class="flex-column" style="width:60%; margin-left:100px">
  <div class="flex-row user-row"><div>User:</div> {{order.user.firstName}} {{order.user.lastName}}</div>
<div  class="flex-row user-row"><div>Address:</div> {{order.user.address}}</div>
<div  class="flex-row user-row"><div>Phone number: </div>{{order.user.phoneNumber}}</div>
<div  class="flex-row user-row"><div>E-mail: </div>{{order.user.email}}</div>
<div  class="flex-row user-row"><div>Time of order: </div>{{order.createdAt | date: "dd/MM/yyyy, HH:mm" }}</div>
</mat-card-content>




<mat-card-header>
  <mat-card-title>Order</mat-card-title>
</mat-card-header>

<div *ngIf="order">
  <mat-card *ngFor="let orderItem of order.orderItems" style="margin: 10px">
    <div *ngIf="getItem(orderItem.itemId) | async as item">
      <div class="flex-row" style="justify-content: space-between">
        <mat-card-header>
          <img mat-card-avatar [src]="item.picture" alt="Photo of food" />
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ item.price | currency: "HRK" }}</mat-card-subtitle
          >
        </mat-card-header>
        <div>
          {{ orderItem.amount }}
        </div>
        <div>{{ orderItem.amount * item.price | currency: "HRK" }}</div>
      </div>
    </div>
  </mat-card>
  <div class="flex-row" style="margin: 25px; justify-content: space-between">
    <mat-card-header>
      <mat-card-title>Total</mat-card-title>
    </mat-card-header>
    <div>{{ order.total | currency: "HRK" }}</div>
  </div>
</div>
