<div class="flex-row">
  <mat-card-header>
    <mat-card-title style="margin: 30px">Menu</mat-card-title>
  </mat-card-header>
  <div style="margin-left: auto">
    <button
      *ngIf="(userInfo | async).role === 'admin'"
      style="margin-right: 20px; margin-top: 20px"
      (click)="newItem()"
      color="accent"
      mat-mini-fab
      matTooltip="Add new item"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-card *ngFor="let category of categoriesList$ | async" style="margin: 10px">
  <div *ngIf="(menuItems$ | async | filterMenuByCategory: category).length > 0">
    <mat-card-header>
      <mat-card-title style="margin: 30px">{{
        category.name | titlecase
      }}</mat-card-title>
    </mat-card-header>

    <div class="flex-row" style="flex-wrap: wrap; justify-content: center">
      <mat-card
        *ngFor="let item of menuItems$ | async | filterMenuByCategory: category"
        class="example-card"
        style="margin: 10px; position: relative; width: 150px"
      >
        <img mat-card-image [src]="item.picture" />
        <mat-card-subtitle>{{ item.name }}</mat-card-subtitle>
        <mat-card-content>
          <p>
            {{ item.description }}
          </p>
          <p>
            {{ item.price | currency: "HRK" }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="addToOrder(item)">
            +
          </button>
          {{ getItemAmount(item) | async }}
          <button mat-button color="primary" (click)="removeFromOrder(item)">
            -
          </button>
          <button
            color="accent"
            mat-mini-fab
            style="position: absolute; top: 2px; right: 2px"
            *ngIf="(userInfo | async).role === 'admin'"
            (click)="editItem(item)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-card>
