<mat-toolbar color="primary">
  <span>{{appTitle}}</span>
</mat-toolbar>

<div class="background-image">
  <div class="flex-column flex-center height100">
    <h1 class="welcome-title">Hungry?</h1>
    <div class="flex-row flex-center">
      <div class="font-size18">Back for more?</div>
      <button
        style="margin: 5px"
        mat-raised-button
        color="primary"
        (click)="onLogIn()"
      >
        Log in
      </button>
    </div>
    <div class="flex-row flex-center">
      <div class="font-size18">Your first time here?</div>
      <button
        style="margin: 5px"
        mat-raised-button
        color="primary"
        (click)="onSignUp()"
      >
        Sign up
      </button>
    </div>
  </div>
</div>
