<div class="background-image">
  <div class="flex-center">
    <h1 class="welcome-title">Hungry?</h1>
    <div class="flex-row">
      <div class="font-size18">Back for more?</div>
      <button
        style="margin: 5px"
        mat-raised-button
        color="primary"
        (click)="onLogIn()"
      >
        Log in
      </button>
    </div>
    <div class="flex-row">
      <div class="font-size18">Your first time here?</div>
      <button
        style="margin: 5px"
        mat-raised-button
        color="primary"
        (click)="onSignUp()"
      >
        Sign up
      </button>
    </div>
  </div>
</div>
