.background-image {
  background-image: url("welcome.jpg");

  height: calc(100% - 64px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: 600px) {
    height: calc(100% - 56px);
  }
}

.welcome-title {
  font-size: 65px;
  color: white;
}

.font-size18 {
  color: white;
  font-size: 18px;
}
